repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.3
    hooks:
      - id: uv-sync
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff-format
      - id: ruff-check
      - id: ruff-format
